/*
   styles.css
   iphone4
   
   Created by Andrew Okonetchnikov on 2010-08-04.
   Copyright 2010 okonet.ru. All rights reserved.
*/
body {
  margin: 0;
  padding: 25px 5% 0;
  font: 1em/1.5 'Helvetica Neue',Arial,sans-serif;
  color: #444;
  background: #fff;
}

h1 {
  font-size: 1.25em;
}

section#drop {
  display: block;
  padding: 150px 1em 1em 1em;
  font-size: 0.75em;
  text-align: center;
  background-color: #efefef;
  height: 200px;
  border: 2px dashed #999;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  overflow:hidden;
}
section#drop.drag-hover {
  background-color:#ff9;
  cursor: copy;
}
section#drop.drag-result {
  padding: 0;
  background-color: #fff;
  border: none;
  height: auto;
  border-radius: 0;
}
  #drop canvas {
    float: left;
  }
  
.b-palette-wrap {
  display: block;
  margin: 2em 0;
  overflow: hidden;
  zoom: 1;
}
  .b-palette {
    float: left;
    margin: 5px 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    border: none;
    width: 75px;
    height: 75px;
    outline: none;
  }

/* Footer */
footer {
  display: block;
  font-size: .75em;
  color: #999;
  background-color: #FFF;
}
  footer .disclaimer {
    font-size: .85em;
  }